body{
    margin: 0;
  }
  #container{
    width: 100%;
    margin: auto;
    min-height: 100vh;
    
  }
  .text{
    padding: 40px 0;
    color: black;
    text-shadow: 0 0 2px gray;
    font: bold 36px 'Open Sans', sans-serif;
    margin: auto;
    width: 100%;
    max-width: 580px;
  }
  .input{
    margin: auto;
    width: 100%;
    max-width: 580px;
  }
  .input input{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font: 20px 'Open Sans', sans-serif;
  }
  .input input[type="range"]{
    color: #444;
    font: bold 19px sans-serif;
  }
  .input input[type="range"]:before{
    content: "Faster";
    text-shadow: 0 0 5px white;
  }
  
  .input input[type="range"]:after{
    content: "Slower";
    text-shadow: 0 0 5px white;
  }